html { 
	/*background: #152B38 url('images/background.png') top left repeat-x; */
}
body {
	background: #152B38 url('../images/background.png') top left repeat-x; 
	color: #FFF;
}
#wrap { background: url("../images/background-highlights.png") center 20px no-repeat; }
/*h1 { font-size: 360%; line-height: 1; margin-bottom: 10px; text-align: left; letter-spacing: 5px; }
h2 { font-size: 200%; line-height: 1; margin-bottom: 10px; }*/
h6 { font-size: 100%; text-transform: uppercase; margin-bottom: 10px; color: #dedede; }
p.tagline { text-align: center; font-size: 120%; line-height: 1; }

p { font-size: 1.2em; line-height: 1.5; margin-bottom: 20px; }
a { color: #7fdbff; }

.example_links a {
	color: #001f3f;
}

.center {
	text-align: center;
}

.container .jumbotron {
	color: #000;
	padding: 5px 25px 10px;
	text-align: left;
}
.jumbotron h6 { color: #999; }

.foot { 
	color: #fff;
	text-align: center;
	font-size: 100%;
}

.html5video {
	width: 640px;
	height: 390px;
	margin: 0 auto 20px;
}

#features { width: 300px; float: left; }
ul#feature_list { display: block; margin: 15px 0 0; padding: 0; }
ul#feature_list li { list-style: none; padding-left: 25px; font-size: 120%; line-height: 20px; margin-bottom: 25px; background: url("../images/icons/check.png") left top no-repeat; }

#supported { float: right; width: 320px; }
.supported-section { margin-bottom: 20px; }
.supported-section a { padding-right: 10px; }
.supported-section a:last-child { padding-right: 0; }
